.video.grid {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
  margin: 0 8px 40px;
}

.video.list {
  display: flex;
  margin-bottom: 8px;
}

.video.list img {
  width: 35%;
}

.titleBox.grid {
  padding: 0 1.5em;
}

.titleBox.list {
  padding: 0 0.5em;
}

.thumbnail {
  cursor: pointer;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.1rem;
  max-height: 2.2rem;
  color: #fff;
  margin: 12px 0 4px 0;
  cursor: pointer;
}

.channelTitle {
  color: #aaa;
  margin-bottom: 12px;
  cursor: default;
}
