.video.grid {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
  width: calc(100% / 3 - 16px);
  margin: 0 8px 40px;
}

.video.list {
  display: flex;
  margin-bottom: 8px;
}

.video.list img {
  width: 35%;
}

.meta {
  display: flex;
}

.titleWrap.grid {
  padding-right: 1.5em;
}

.titleWrap.list {
  padding-right: 0.5em;
}

.channelThumbnail {
  height: 36px;
  margin: 12px 12px 0 0;
  clip-path: circle(50%);
}

.channelThumbnail .thumbnail {
  width: 36px;
}

.thumbnail {
  cursor: pointer;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.1rem;
  max-height: 2.2rem;
  color: #fff;
  margin: 12px 0 4px 0;
  cursor: pointer;
}

.channelTitle {
  color: #aaa;
  margin-bottom: 12px;
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.1rem;
  max-height: 1.1rem;
  display: -webkit-box;
}
