.content {
  display: flex;
}

.container {
  display: flex;
  background-color: #181818;
  padding: 24px 0 0 24px;
}

.navBar {
  width: 240px;
  background-color: #212121;
}

.list {
  width: 30%;
}

.grid {
  width: 100%;
}

.detail {
  width: 70%;
}
